<h3>Search Results</h3>
<div class="results">
	<%if @results.blank?%>
		<p>No Results Found.</p>
	<%else%>
		<%@results.each do |result|%>
			<div class="result">
				<%if result.class.name == 'SpudPost'%>
					<%if result.is_news == true%>
						<h4><%=link_to result.title,spud_blog.news_post_path(result.url_name)%></h4>
					<%else%>
						<h4><%=link_to result.title,spud_blog.blog_post_path(result.url_name)%></h4>
					<%end%>
					<p><%=truncate(strip_tags(result.content),:length => 200, :separator => ' ')%></p>
				<%elsif result.class.name == 'SpudPage'%>
					<h4><%=link_to result.name,spud_cms.page_path(:id => result.url_name)%></h4>

					<p><%=truncate(strip_tags(result.meta_description),:length => 200, :separator => ' ')%></p>

				<%end%>
			</div>
		<%end%>
		<%=will_paginate @results%>
	<%end%>
</div>
